h1 {
    text-align: center;  
}

#pageTitle {
    font-weight: bold;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 1px;
    border:1px solid #021a40; 
}

p {
    padding: 70px;
    border: 1px solid black;
  }